<li>
	{{title}}

	<button class="devour btn-secondary" data-id="{{id}}" data-newsleep="{{unread}}">
		{{#if unread}}Read{{else}}Reread{{/if}}
	</button>

	{{!-- <button class="deleteBook" data-id="{{this.id}}">Dust bin</button> --}}
</li>